[submodule "ucu-cv-code"]
	path = Feature-Detection/materials-module1
	url = https://github.com/felistrs/ucu-cv-code.git
[submodule "ComputerVisionCourse"]
	path = Segmentation/materials-module2
	url = https://github.com/mdavydov/ComputerVisionCourse.git
